@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


.inicio{
--opacidad-negro: 0.5;
background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/IAfondo.webp");
background-position: center;
background-size: cover;
height:30rem;  
}


.card-title{

	font-size: 1.3rem;
	font-family: 'Dela Gothic One', cursive;
	text-align: center;
	color: turquoise;
	text-shadow: #4444 1px 0 10px;
}

.navbar-brand{

	font-size: 4rem;
	color: turquoise;
	text-shadow: #4444 1px 1px 10px;
}


.btn btn-primary{

	text-align: center;
}

.card-body{

	box-shadow: 2px 2px 10px;
}


.card-img-top{

	box-shadow: 2px 2px 10px;
}